{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='styles.css?version=1' rel='stylesheet'></link>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'music/main.css' %}">
    
    
  </head>
  <body>
  <div id="overlay"></div>
  
    <div class="topbar">
      <div class="form-group">
        <form action="{% url 'search' %}" method="GET" >
            {% csrf_token %}

        <input class="search-cls" type="search" name='q' placeholder="Search" aria-label="Search" value={{request.GET.q}}>
        </form> 
      </div>
      <ul class="item-group">
        {% if user.is_authenticated %}
            <li class="log-btn"> 
                <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
            </li>
            <li class="log-btn"> 
                <a class="nav-link" href="">{{user.username}}</a> 
            </li>

        {% else %}
            <li class="log-btn"> 
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a> 
            </li> 
            <li class="log-btn"> 
                <a class="nav-link" href="{% url 'login' %}">Login</a> 
            </li> 
        {% endif %}
        
      </ul>

    </div>
    <aside class="sidebar">
     <a href="{% url 'song_list' %}"> <img src="{% static 'music/m-logo.png' %}" class="ml-4 mb-4"><a>

       <a href="{% url 'song_list' %}" class="home"><i class="fa fa-home"></i><span class="" style="font-size:16px;">Home</span></a>
  
      <a href="{% url 'playlist_display' %}" class="library"><span class="lib-icon ">||\</span>Library</a>
      <div class="playlist">
        <p>PLAYLIST</p>
   
        <a href="#" class="create_playlist" onclick="onfun()"><i class="fa fa-plus"></i> Create Playlist</a>
        <div class="overit">
          <p style="color:yellow;">hello</p>
          {% include 'music/playlist_new.html' %}
        </div>
    

        <a href="#s" class="heart"><i class="fa fa-heart"></i> Liked Songs</a><hr>


      </div>

<!-- 
      <div class="display-playlist-side">
    
        <h6>YOUR PLAYLIST</h6>


        <h6>New Folder</h6>

         

      </div> -->
     

    </aside>
  <div class="main-section" >
        
    <div class=" content">
    {%  block content %}{% endblock %}
  </div>
  </div>
     

  <!-- {% block  bottombar %}{% endblock %}  -->

 {% include 'music/bottombar.html'  %}

<script type="text/javascript">
  function onfun(){
  document.querySelector('.overit').style.display='block';

  }
  function funoff(){
  document.querySelector('.overit').style.display='none';

  }

</script>
<script type="text/javascript" src="{% static 'music/js_main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
