{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" 
		href="{% static 'music/main.css' %}">
  	<link rel="stylesheet" 
  	href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
	<title></title>
</head>
<body>
	
	<div class="playlist-form">
		<h4>Create New Playlist Here</h4>
		<i class="fa fa-close" onclick="funoff()"></i>
	<form action="{% url 'playlist_new' %}" method="POST">

			<input type="text" name="playlist_name" placeholder="name">

		{% csrf_token %}

	<ul>
	<li><button class="btn-primary">create</button></li>
	<!-- <li><button class="btn-danger" onclick="funoff()">close</button></li> -->
	</ul>
	</form>
</div>
	
</body>
</html>